@import 'partials/colors';

html, body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: mix($header, white, 17%);
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
input {
  display: none;
  &#toggle-list {
    ~ h3 {
      font-weight: bold;
      ul {
        display: none;
        z-index: 1;
        position: absolute;
        top: 1.6rem;
        right: 2.5rem;
        padding: 0;
        li {
          background-color: $background;
          border: 1px solid $gray;
          list-style-type: none;
          padding: 0.75rem 1rem;
          font-size: 1rem;
          letter-spacing: 1.5px;
          font-weight: normal;
          label:hover {
            cursor: pointer;
            color: $header;
          }
        }
  
      }
    }
    &:checked {
      ~ h3 {
        ul {
          display: block;
        }
        .app-nav > label {
          &:before {
            content: '';
            display: block;
            border: 1px solid $gray;
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0.25rem;
            background-color: $background; 
            z-index: -1;
            top: -0.3rem;
            right: 0;
          }
        }
      }
    }
  }
}
input[type="radio"] {
  @each $selector in (greet-visitor, read-more, specs, creator){
    &##{$selector}:checked {
      & ~ #app [data-selector="#{$selector}"] {
        color: $gray;
        text-decoration: line-through;
      }
      & ~ section {
        top: -100%;
        &[data-selector="#{$selector}"] {
          top: 0;
          & ~ section {
            top: 100%;
          }
        }
      }
    }
  }
}
.title {
  font-family: 'Inconsolata', sans-serif;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  &:after {
    background-image: repeating-linear-gradient(45deg, black 1px, transparent 2px, transparent 3px);
    content: attr(data-title);
    text-transform: uppercase;
    position: absolute;
    top: 4px;
    left: 3px;
    color: transparent;
    z-index: -1;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.unsubscribe {
  .placer {
    transform: translate3d(-50%, -50%, 0);
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 30vw;
  }
  .container {
    padding: 1rem 2rem;
    background: white;
    border-radius: 5px;
    border: 2px solid black;
    position: relative;
    &:after {
      content: '';
      border-radius: 5px;
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 1px, rgba(black, 0.75) 1px, rgba(black, 0.75) 2px);
      background-size: 3px 3px;
      z-index: -1;
    }
  }
}
#app {
  width: 39vw;
  height: 85vh;
  background: $background;
  position: fixed;
  top: 50%;
  margin-top: -42.5vh;
  left: 52vw;
  border-radius: 10px;
  font-family: 'Inconsolata', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1.4rem 1.25rem;
  opacity: 0.85;
  z-index: 2;
  h3 {
    color: white;
    margin: 0;
    span.title {
      &:before {
        content: '//';
        font-weight: initial;
        color: $gray;
        margin-right: 0.25rem;
        letter-spacing: 0;
      }
      span {
        letter-spacing: 2px;
        color: $header;
        span {
          font-weight: 400;
        }
      }
    }
    .app-nav {
      font-size: 1.5rem;
      float: right;
      margin-top: -0.25rem;
      position: relative;
      label {
        display: block;
        position: absolute;
        top: 0.33rem;
        left: -1.5rem;
        width: 1rem;
        height: 1rem;
        background-image: radial-gradient(circle at center, white 45%, transparent 45%);
        background-size: 0.33rem;
        background-repeat: repeat-y;
        &:hover {
          cursor: pointer;
          background-image: radial-gradient(circle at center, $header 45%, transparent 45%);
        }
      }
    }
  }
  nav {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    position: relative;
    label {
      display: block;
      padding: 0;
      border-bottom: 1px solid $gray;
      color: white;
      letter-spacing: 1.5px;
      text-decoration: none;
      padding: 0.5rem 0.3rem;
      &:hover {
        color: $header;
        cursor: pointer;
      }
      &:focus {
        outline-color: mix($header, skyblue, 10%);
      }
      span {
        float: right;
        font-weight: 700;
        font-size: 1.25rem;
      }
    }
  }
}
section {
  height: 100vh;
  width: 100vw;
  transition: 0.2s;
  position: absolute;
  .container {
    position: absolute;
    width: 32vw;
    left: 6.5vw;
    z-index: 1;
    border-radius: 4px;
    bottom: 13vh;
    > div {
      padding: 1.5rem;
      position: relative;
      ul {
        li {
          margin: 0.2rem 0;
        }
        a {
          font-family: 'Inconsolata', sans-serif;
          font-weight: bold;
          position: relative;
          text-transform: uppercase;
          z-index: 1;
          text-decoration: none;
          color: black;
          transition: 0.1s;
          letter-spacing: 1px;
          &:after {
            background-image: repeating-linear-gradient(45deg, black 1px, transparent 2px, transparent 3px);
            content: attr(data-title);
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 0;
            color: transparent;
            z-index: -1;
            -webkit-background-clip: text;
            background-clip: text;
            white-space: nowrap;
            transition: 0.1s;
          }
          &:hover {
            margin: -2px 0 0 -1.5px;
            &:after {
              top: 4px;
              left: 3px;
            }
          }
        }
      }
    }
    h3 {
      padding-bottom: 0.75rem;
      margin: 0;
      border-bottom: 1px solid rgba(mix(navy, black, 25%), 0.5);
      font-size: 1.5em;
      letter-spacing: 1.5px;
    }
    p {
      font-size: .9rem;
      line-height: 1.3rem;
      letter-spacing: .5px;
    }
  }
}

section .container > div .download-items {
  list-style: none;
  padding: 0;
  li {
    float: left;
    position: relative;
    text-align: center;
    margin-right: 1rem;
    span {
      display: block;
    }
    a {
      span > *:first-child {
        margin-right: 5px;
      }
      img {
        transition: 0.2s opacity;
        width: 100%;
        max-width: 40px;
        margin-top: 10px;
        opacity: 0.5;
      }
      &:hover {
        margin: 0;
        img {
          opacity: 1;
        }
      }
    }
  }
}